.appLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebarAndContent {
    display: flex;
    flex: 1;
    position: relative;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 85px;
    transition: margin-left 0.3s ease;
    overflow-x: auto;
    overflow-y: auto;
}
